.Header {
    min-height:50px; 
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    top: 0;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    padding-right: 10px;
}

.Header > p {
    font-family: 'tex_gyre_herosregular';
    color: white;
}
