.Header {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    top: 0;
    flex-direction: row;
    justify-content: flex-end;
    right: 0;
    padding-right: 30px;
    padding-top: 10px;
}

.Header > p {
    font-family: 'tex_gyre_herosregular';
    color: white;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 1000px){
    .Header p {
        font-size: 10px;
    }

    .Header {
        padding-right: 10px;
        padding-top: 3px;
    }
}
