.Home {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.Home > h1 {
    font-size: 120px;
}

@media (max-width: 1000px){
    .Home h1 {
        font-size: 9vw;
    }
}
