.Lists {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.Lists p {
    font-family: 'tex_gyre_herosregular';
    font-size: 20px;
}

.Lists h2 {
    font-family: 'tex_gyre_herosbold';
    font-size: 30px;
}

@media (max-width: 1000px){
    .Lists {
        width: unset;
        text-align: center;
        align-content: center;
    }

    .Lists h2 {
        font-size: 25px;
    }

    .Lists p {
        font-size: unset;
    }

    .Text {
        padding-bottom: unset;
    }
}