.Tech {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
}

.Text > h1 {
    font-size: 70px;
}

.Text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    width: 50%;
}