.Tech {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
}

.Text > h1 {
    font-size: 70px;
    padding-right: 100px;
    margin: 20px;
}

.Text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    width: 50%;
}

.Lists {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

